/* For Specificity i am using Css id because ids has more specificity than classes which semantic ui will no allow me to use it  */
#form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
